@media screen and (max-width: 640px) {

    /* COVID-19 info container */

    .warning-info-container {
        font-size: 8.4px;
        font-weight: 400;
        line-height: 11.9px;
        display: flex;
        justify-content: center;
        height: 30px;
    }

    .warning-info {
        width: 200px; 
        padding-bottom: 15px;       
    }

    /* Navigation container */

    .nav-box {
        display: none;
    }    

    .nav-box-mobile {
        display: block;
        position: absolute;     
        top: 0;
        left: 35px;
        z-index: 1000;
        background-color: #F2F2F2;
        text-align: start;
        
    }

    #nav-box-mobile { 
        border: 1px solid black;
        padding: 5px 5px 5px 5px;    
    }

    .icon-line {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 27px;
        height: 27px;
    }

    /* Information container */

    .information-title {
        padding: 10px 10px 10px 10px;
        font-size: 25px;
        font-weight: 400;
        line-height: 63px;        
        font-family: "Ogg-Roman";
    }

    .information-text {
        margin-top: 0;
        line-height: 25px;        
    }

    /* Title container */

    .text-background {    
        display: none;  
        
    }
    
    .text-background-mobile {
        display: block;
        width: 100%;
        height: 100%;
        margin: auto;
        margin-top: 20px; 
    }

    .text {
        font-size: 25px;        
    }

    /* Carousel container */

    .carousel-desktop {
        display: none;
    }    
    
    .carousel-mobile {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        max-height: 520px;    
        background-color: #F4BAB5;
        text-align: center;        
        position: relative;
    }

    .info-title {
        font-size: 16px;      
        margin-top: 25px;  
    }

    .info-name {
        margin-top: 10px;
        font-size: 25px;        
    }

    .webcam {
        position: relative;
        margin-top: 0;
        padding-top: 0;        
        width: 150px;
        height: 150px;            
    }

    .webcam-box {
        width: 150px;
        height: 150px;
        text-align: center;  
        
    }
    
    .webcam-icon {
        width: 150px;
        height: 150px; 
        position: absolute;        
        left: 5px;
        top: -20px;
    }
    
    .webcam-photo {
        width: 75px;
        height: 75px;     
        position: absolute;
        top: 16px;   
        left: 39px;      
    }
    
    .button {  
        background-color: black;
        color: white;
    }

    .button:hover {
        border: 2px solid black;    
        background-color:#7A5D5A;    
    }
    
    .button-round {         
        margin-left: 0;          
    }

    /* About us container */

    .about-us-mobile {
        display: block;  
        width: 100%;
    }

    .about-us-box-border {
        max-width: 980px;
        width: 100%;
        border-top: 1px solid black;
        display: flex;
        justify-content: center;
    }

    .about-us-container-box {
        align-items: center;
        justify-content: start;
        flex-direction: column;        
        min-height: 246px;   
        padding-top: 10px;     
    }

    .about-us-box-mobile {
        width: 300px; 
        margin-bottom: 10px;          
    }       

    .about-us-box {
        display: none;
    }

    .about-us-title {
        padding-top: 10px;   
        padding-bottom: 5px;         
        display: flex;
        justify-content: space-between;
        
    }

    .activate-button {
        border: none;
    }

    .hide {           
        display: none;
    }

    .show {           
        display: block;
    }

    .follow-us-box {
        display: flex;
        justify-content: center;
    }

    .follow-us-facebook {
        width: 20px;
        height: 36px;
        padding: 7px 10px 5px 5px;
    }

    .follow-us-icon {
        width: 40px;
        height: 40px;
        padding: 5px 5px 5px 10px;
    }

    .subscribe-box {
        margin-top: 45px;
        margin-bottom: 45px;    
    }    
    
  }

@media screen and (max-width: 480px) {
    .photo-title {    
        font-size: 25px;          
    }

    .photo-name {
        font-size: 16px;  
        margin-top: 120px;      
    }

    .photo-box {
        width: 175px;
        height: 162px;   
        position: relative;    
        text-align: center;        
    }

    .photo {
        position: absolute;
        top: 35px;
        left: 54px;
        z-index: 3;
        width: 70px;
    }

    .photo-frame {
        position: absolute;
        width: 80px;
        top: 30px;
        left: 49px;
        z-index: 2;
    }

    .photo-icon-1 {
        width: 50px;
        position: absolute;
        z-index: 4;
        top: 5px;
        left: 5px;
    }
    
    .photo-figure-1 {
        position: absolute;
        z-index: 1;
        width: 100px;
        left: 27px;
    }
    
    .photo-icon-2 {
        position: absolute;
        z-index: 4;
        right: 0;
        width: 30%;
    }
    
    .photo-figure-2 {
        position: absolute;
        z-index: 1;
        width: 110px;
        left: 37px;
        top: 50px;
    }
    
    .photo-icon-3 {
        position: absolute;
        width: 80px;
        z-index: 4;
        top: 20px;
        left: -15px;
    }
    
    .photo-figure-3 {
        position: absolute;
        z-index: 1;
        width: 85px;
        right: 10px;
        top: 17px;
    }
    
    .photo-icon-4 {
        position: absolute;
        z-index: 4;    
        left: 10px;
        width: 35px;
    }
    
    .photo-figure-4 {
        position: absolute;
        top: 10px;
        left: 20px;
        width: 125px;
    }
    
    .photo-icon-5 {
        position: absolute;
        width: 65px;
        z-index: 4;
        right: 0px;
        top: 20px;
    }
    
    .photo-figure-5 {
        position: absolute;
        width: 125px;
        z-index: 1;
        bottom: 0px;
        right: -10px;
    }
    
    .photo-figure-6 {
        position: absolute;
        width: 115px;
        z-index: 1;
        right: 20px;
        top: 5px;
    }
    
    .photo-figure-7 {
        position: absolute;
        width: 85px;
        z-index: 1;
        top: 15px;
        left: 25px;
    }
    
    .photo-figure-8 {
        position: absolute;
        width: 125px;
        z-index: 1;
        top: 5px;
        left: 20px;
    }
    
    .photo-figure-9 {
        position: absolute;
        width: 115px;
        z-index: 1;
        top: -10px;
        right: 0;
    }
    
    .photo-figure-10 {
        position: absolute;
        width: 100px;
        z-index: 1;
        top: 30px;
        left: 15px;
    }
    
    .photo-figure-11 {
        position: absolute;
        width: 110px;
        z-index: 1;
        left: 40px;
        top: 50px;
    }
    
    .photo-figure-12 {
        position: absolute;
        width: 110px;
        z-index: 1;
        right: 0;
        top: 5px
    }
}

@media screen and (max-width: 384px) {

    .webcam {
        position: relative;
        margin-top: 0;
        padding-top: 0;
        height: 100px;
        width: 100px;             
    }

    .webcam-box {
        width: 100px;
        height: 100px;
        text-align: center;  
        
    }
    .webcam-icon {
        width: 125px;
        height: 125px; 
        position: absolute;        
        left: -7px;
        top: -10px;
    }
    
    .webcam-photo {
        width: 75px;
        height: 75px;     
        position: absolute;
        top: 15px;   
        left: 15px;      
    }

    .information-title {
        padding: 10px 10px 10px 10px;
        font-size: 20px;
        font-weight: 400;
        line-height: 63px;        
        font-family: "Ogg-Roman";
    }

    .information-text {
        font-size: 14px;
        margin-top: 0;
        line-height: 18px;        
    }
}