.warning-info-container {
    background-color: #F2F2F2;
    margin: auto;
    height: 22px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;    
}

.information-container {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 315px;      
}

.information-title {
    font-size: 61px;
    font-weight: 400;
    padding: 25px 25px 25px 25px;
}

.information-text {
    font-size: 16px;
    font-weight: 400;
    width: 55%;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 25px;
    line-height: 27px;
}

.about-us-container {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 100%;
    height: 246px; 
    align-items: center;
    font-size: 11px;
}    

.about-us-box {
    width: 175px;
    height: 100px;
    margin-right: 10px;   
    margin-left: 10px;   
}

.subscribe-box {
    width: 300px;
    height: 100px;
    margin-right: 10px;   
    margin-left: 10px;       
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    transform: scale(1.2);
}

.subscribe-input {    
    width: 80%;
    border: 0;   
    outline: 0;    
    padding: 7px 0;
    background: transparent;    
}

.subscribe-input-box:after {
	content: "";
	display: block;
	height: 2px;
	width: 90%;
	margin-top: 5px;	
	background-color:black;
}

.subscribe-button {
    background-color: #F2F2F2;
    border: none;
}

.title-container {
    width: 100%;
    height: 250px;
    text-align: center;
}

.nav_link {
    display: inline-block;    
	vertical-align: top;
	margin: 0 10px;	
	text-decoration: none; 												
	transition: color 0.2s linear;										
    position: relative;
    font-size: 11px;
}

.nav-box {
    margin-top: 10px;
}

.icon {
    width: 27px;
    height: 27px;
}

.icon-heart {
    width: 17px;
    height: 15px;
    margin-bottom: 6px;
}

.icon:hover {
    transform: scale(1.2);
}

.icon-heart:hover {
    transform: scale(1.2);
}

.icon-box {
    margin-top: 5px;
    text-align: right;
}

.title-image {
    width: 67px;
    height: 82px;
    margin: auto;
}

.title-banner {
    width: 286px;
    height: 79px;
    margin: auto;
}

.text-container {
    width: 100%;
    height: 155px;
    text-align: center;
    
}

.text-background {    
    width: 974px;
    height: 119px;
    margin: auto;
    margin-top: 20px;   
    
}

.text {
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    position: absolute;
	top: 675px;	
	width: 100%;    
}

.carousel-conainer {
    width: 100%;
    height: 520px;
    background-color: #F4BAB5;
    display: flex;
    justify-content: space-between;
}

.button {
    border: 1px solid black;
    width: 190px;
    height: 34px;
    background-color: #F4BAB5;
    margin-top: 30px;
}

.information-box {
    text-align: center;
    margin-top: 100px;
    width: 60%;
}

.info-title {
    font-size: 20px;
    font-weight: 400;    
}

.info-name {
    font-size: 61px;
    font-weight: 400;
    margin-top: 30px;
}

.info-description {
    font-size: 16px;
    font-weight: 400;
    margin: auto;
    margin-top: 30px;
    width: 50%;
    line-height: 27px;
}

.webcam-box {
    width: 40%;
    text-align: center;
}

.webcam-icon {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 770px;
    left: 10px;
}

.webcam-photo {
    width: 175px;
    height: 175px;
    position: absolute;
    top: 875px;
    left: 115px;
}

.button-round {
    border: 1px solid black;
    width: 156px;
    height: 22px;
    border-radius: 8px;
    background-color: #F4BAB5;
    text-align: center;
    margin-top: 425px;
    margin-left: 110px;
    display: flex;
    justify-content: space-between;
}

.button-round-text {
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;

}

.record-icon {
    margin-top: 3px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #B3F695;
}